# Compiled Java & Maven build artifacts
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar

# Maven Wrapper & Cache
.mvn/
!.mvn/wrapper/maven-wrapper.jar
*.log

# Node.js & Frontend dependencies
**/node_modules/
**/dist/
**/build/
.npm
npm-debug.log*

# IDE & Editor Configurations
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath

# Environment & Secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

application-local.properties

# Operating System & Temporary Files
.DS_Store
Thumbs.db
/uploads/
**/uploads/
